.form-input{
    width: 200px;
}
.login-form{
    text-align: center;
}
.container-login{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.invalid{
    background-color: rgb(250, 209, 209);
    border: 1px;
    border-color: red rgba(170, 50, 220, .6) green;
    color: #602121;
    display: none;
}
.invalid-block{
    display: block;
}